@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  font-family: "Inter", sans-serif;
}

html {
  background-color: #f9fafe;
}

.pixel__space__text {
  font-family: "Dancing Script", cursive;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
/* 
.error__message {
  animation: changeText 10s infinite;
}

@keyframes changeText {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* Social Login Button Styling */

#root > main > div > div.flex.flex-col > a > button > div > div:nth-child(3) {
  font-size: 16.5px;
}

#root > main > div > div.flex.flex-col > button > div > div:nth-child(3) {
  font-size: 16.5px;
  text-align: center;
}

#root > main > div > div.flex.flex-col.w-64 > a > button {
  display: block;
  border: 0px;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px;
  color: black;
  cursor: pointer;
  font-size: 19px;
  /* margin: 5px; */
  width: calc(100%);
  overflow: hidden;
  /* padding: 0px 10px; */
  user-select: none;
  height: 50px;
  background: white;
}
