@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  font-family: "Inter", sans-serif;
}

html {
  background-color: #f9fafe;
}

/* Dark Mode */
html[data-theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
  transition: color 500ms;
  transition: filter 500ms;
}
/* have images remain normal on dark mode */
html[data-theme="dark"] img {
  filter: invert(1) hue-rotate(180deg);
  transition: color 500ms;
  transition: filter 500ms;
}

html[data-theme="dark"] .header__logo {
  filter: invert(0) hue-rotate(180deg);
  transition: color 500ms;
  transition: filter 500ms;
}

/* Light Mode */
html[data-theme="light"] {
  filter: invert(0) hue-rotate(0deg);
  transition: color 500ms;
  transition: filter 500ms;
}

.pixel__space__text {
  font-family: "Dancing Script", cursive;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
